:root {
    --nav-text-size: 24px;
    --nav-button-pad: 20px;
    --size: calc(var(--nav-text-size) + 2 * var(--nav-button-pad) + 2 * var(--nav-pad));
    --nav-pad: 10px;
    --div-pad: calc(var(--size));
}
html, body {
    height: 100%;
    width: 100%;
    background-color: #fefefe;
}
#browse-div {
    margin-top: var(--div-pad);
    left:0px;
    padding: 0px 0px;
    justify-content: left;
    flex-direction: row;
}
#input-div {
    float: left;
    left: 0px;
    padding: 0px 0px;
    outline: 2px solid #000000;
}
#image-shower {
    float: left;
    padding-left: 100px;
    outline: 2px solid #000000;
    max-width: calc(50%);
}
#showing-image {
    max-width: calc(50%);
}
.div-header {
    position: absolute;
    left: 0px;
    top: 0px;
    height: var(--size);
    width: 100%;
    background-color: #fefefe;
    justify-content: left;
    flex-direction: row;
    display: flex;
    outline: 2px solid #000000;
}
.div-header > ul {
    padding: var(--nav-pad) 5px;
    height: inherit;
}
.div-header > ul > a {
    max-width: calc(20% - 50px);
    color: #000000;
    padding: var(--nav-button-pad) var(--nav-button-pad);
    border-radius: calc(var(--nav-text-size) * 0.25);
    background-color:#fefefe;
    text-decoration: none;
    font-weight: 700;
    font-size: var(--nav-text-size);
    font-family: sans-serif;
}
.div-header > ul > a:hover {
    background-color: gray;
}
.choose {
    position:relative;
    width:200px;
    height:100px;
    color:#333333;
    background-color: #fedede;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 10px;
}
.choose:hover {
    background-color: #deaeae;
    color: #555555;
}